* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(82, 132, 32, 0.27);
    font-weight: bolder;
    font-size: large;
}

.container {
    max-width: 70%;
    margin: 32px 10%;
}

.header {
    width: fit-content;
    background-color: #efe1d0;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.header-link {
    text-decoration: none;
    color: black;
}

table, th, td {
    border: 1px solid #a3a3a3;
    border-collapse: collapse;
}

table {
    margin-bottom: 200px;
}

th, td {
    padding: 8px 32px;
    text-align: left;
}

th {
    font-size: x-large;
}

td {
    font-weight: bold;
}

tr:first-child {
    background-color: rgba(182, 161, 146, 0.16);
}

tr:hover:not(tr:first-child) {
    background-color: rgba(255, 228, 196, 0.26);
}

.form-header {
    text-align: center;
    margin: 8px 0 16px;
}

.form-block {
    margin: 0 64px 64px 0;
    max-width: 400px;
    height: fit-content;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(182, 161, 146, 0.16);
}

.control-panel {
    background-color: rgba(182, 161, 146, 0.16);
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.control-buttons {
    display: flex;
}

.form-elem {
    display: inline-block;
    margin: 8px;
}

.all-content-block {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    height: fit-content;
    box-sizing: border-box;
    border-radius: 16px;
    display: inline-block;
    padding: 8px 32px;
    margin: 16px;
    color: black;
    text-decoration: none;
    background-color: rgba(239, 225, 208, 0);
    border: 1px solid #a3a3a3;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
}

.button-block {
    display: flex;
    justify-content: space-around;
}

.input-field {
    margin: 16px;
    height: 40px;
    width: 30ch;
    padding: 8px;
    border: none;
    border-bottom: 3px solid #a3a3a3;
    background-color: rgba(239, 225, 208, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
    box-sizing: border-box;
}

.input-field:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.input-field:focus {
    border: none;
}

.search-field {
    width: fit-content;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
}

.search-input-field {
    width: 50ch;
}

.random-field {
    display: flex;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    margin-bottom: 8px;
}

.random-input-field {
    width: 10ch;
}

.submit-button:hover {
    background-color: rgba(255, 228, 196, 0.26);
    cursor: pointer;
}

.paging-center {
    text-align: center;
    margin-bottom: 100px;
}

.paging-block {
    display: inline-block;
    font-size: x-large;
    background-color: rgba(42, 42, 42, 0.1);
    padding: 16px;
    border-radius: 8px;
}

.paging-block a {
    color: black;
    float: left;
    padding: 16px 32px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .2s;
}

.paging-block a.active {
    background-color: rgba(255, 156, 71, 0.73);
    color: white;
}

.paging-block a:hover:not(.active) {
    background-color: rgba(255, 156, 71, 0.36);
}